absl-py==2.1.0
astropy==6.1.4
astropy-iers-data==0.2024.10.14.0.32.55
asttokens==2.4.1
astunparse==1.6.3
certifi==2024.8.30
charset-normalizer==3.4.0
contourpy==1.3.0
cycler==0.12.1
decorator==5.1.1
deepmass @ git+https://github.com/NiallJeffrey/DeepMass.git@6bf11bd08082562161a2f91cd40dc57abba12396
exceptiongroup==1.2.2
executing==2.1.0
flatbuffers==24.3.25
fonttools==4.54.1
gast==0.6.0
google-pasta==0.2.0
grpcio==1.67.0
h5py==3.12.1
healpy==1.17.3
idna==3.10
imageio==2.36.0
ipython==8.28.0
jedi==0.19.1
keras==3.6.0
kiwisolver==1.4.7
lazy_loader==0.4
lenspack==1.0.0
libclang==18.1.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.1
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
ml-dtypes==0.4.1
namex==0.0.8
networkx==3.4.1
numpy==1.26.4
opt_einsum==3.4.0
optree==0.13.0
packaging==24.1
parso==0.8.4
pexpect==4.9.0
pillow==11.0.0
prompt_toolkit==3.0.48
protobuf==4.25.5
ptyprocess==0.7.0
pure_eval==0.2.3
pyerfa==2.0.1.4
Pygments==2.18.0
pyparsing==3.2.0
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.32.3
rich==13.9.2
scikit-image==0.24.0
scipy==1.14.1
six==1.16.0
stack-data==0.6.3
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
tifffile==2024.9.20
traitlets==5.14.3
typing_extensions==4.12.2
urllib3==2.2.3
wcwidth==0.2.13
Werkzeug==3.0.4
wrapt==1.16.0
